#navbar{
    margin-top: 0;
    padding-top: 0;
    height: 62px;
    width: 100%;
}
#navbar nav, ul, li{
    margin: 0;
    padding: 0;
}
#navbar .top-menu ul{
    width:max-content;
    height: inherit;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 84px;
    text-decoration: none;
    
}
#navbar .top-menu li{
    list-style: none;
    display: flex;
}
.left-menu{
    padding-left: 5px;
    width: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    position: fixed;
    left: -85px;
}
.left-menu:hover{
    left:0;
    transition: all 0.2s ease;
}
.left-menu ul{
    border-right: 4px solid rgba(20, 100, 200, 0.5);
}
.left-menu li{
    width: 84px;
    height: 100px;
    
    
}
.left-menu li .icon{
    width: 50px;
    height: 50px;
    stroke-width: 1;
    text-align: center;
    padding: 25px;
}
.left-menu li .icon:hover{
    fill: none;
    color: black;
    scale: 1.1;
    transition: all 0.2s ease;
}
.left-menu li .icon:active{
    fill:rgb(204, 140, 140);
}
.navbar-ul-li{
    text-decoration: none;
    list-style: none;
    margin-right: 10px;
}