.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    
}
.postItemContainer{
    display: flex;
    flex-direction: column;
    padding: 0 5% 0 5%;
}
.link{
    text-decoration: none;
    color: none;
}

