.container{
    width: 100%;
    height:35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-yellow);
    text-align: center;
    font-size: medium;
    gap:1em;
    position: relative;
}
.kittens{
    border-radius: 25em;
    width: 20em;
    height: 10em;
    background-image: url('/Два котёнка.png');
    background-size: cover;
    background-position: bottom;
    margin-right: 1em;
}
.puppies{
    width: 20em;
    height: 10em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    width: 40%;
}
.toyterrier{
    border-radius: 25em;
    width: 10em;
    height: 10em;
    background-image: url('/тойтерьер.png');
    background-size: cover;
    z-index: 1;
}
.dog{
    border-radius: 25em;
    width: 10em;
    height: 10em;
    background-image: url('/собака.png');
    background-size: cover;
    position: absolute;
    left: 12em;
}
.cyanPaw{
    position: absolute;
    bottom: -6em;
    left:22em;
    z-index: 1;
    pointer-events: none;
}

@media (max-width:1370px){
    .container{
        width: 90%;
        padding: 0 5%;
    }
    .text{
        font-size: 16px;
    }
    .dog{
        display: none;
    }
    .cyanPaw{
        z-index: -1;
    }
}
@media (max-width:1200px){
    .container{
        justify-content: space-between;
    }
    .text{
        font-size: 14px;
        width: 40%;
    }
    .kittens{
        width: 30%;
    }
    .puppies{
        width: 30%;
    }
    .dog{
        display: none;
    }
    .text{
        width: 45%;
    }
}
@media (max-width:800px){
    .container{
        font-size: small;
    }
}
@media (max-width:720px){
    .container{
        width: 100%;
        height: 70vh;
        flex-direction: column-reverse;
        padding: 5% 0;
    }
    .text{
        width: 100%;
        font-size: 16px;
    }
    .kittens{
        width: 70%;
    }
    .puppies{
        left: -4em;
    }
    .dog{
        display: inline;
        left: 9em;
    }
}
@media(max-width:526px){
    .text{
        font-size: 14px;
    }
    .cyanPaw{
        left: 0;
    }
}