@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@font-face {
  font-weight: 300;
  font-family: Involve;
  src: url("../fonts/Involve-Regular.otf");
}
@font-face {
  font-weight: 300;
  font-style: oblique;
  font-family: Involve;
  src: url("../fonts/Involve-Oblique.otf");
}
@font-face {
  font-weight: 500;
  font-family: Involve;
  src: url("../fonts/Involve-Medium.otf");
}
@font-face {
  font-weight: 500;
  font-style: oblique;
  font-family: Involve;
  src: url("../fonts/Involve-MediumOblique.otf");
}
@font-face {
  font-weight: 600;
  font-family: Involve;
  src: url("../fonts/Involve-SemiBold.otf");
}
@font-face {
  font-weight: 600;
  font-style: oblique;
  font-family: Involve;
  src: url("../fonts/Involve-SemiBoldOblique.otf");
}
:root {
  --color-yellow:#FEC212;
  --color-blue:#001377;
  --color-cyan:#74D5C0;
  --color-violet:#8F4CFD;
  --color-redberry:#FF7086;

  font-family: 'Involve';
  font-size: 14px;
  color:#0f0f0f;
  font-weight: 400;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.25px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  
}
a:hover {
  color: #535bf2;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 30px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  
}
button:hover {
  border-color: #e7e8f0;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.link{
  text-decoration: none;
  list-style: none;
}

#error-page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
